.heading{
    color: gray;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 40px;
}

.first-container {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 35px;
    width: 700px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.poke-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 180px;
    height: 280px;
    border-radius: 10px;
    background-color: gainsboro;
}

.poke-name {
    font-size: 27px;
    font-weight: bold;
    color: blue;
}

.poke-card img {
    width: 100px;
    margin: 30px;
}

.poke-type {
    font-size: 17px;
    font-weight: bold;
}